/*{
--very-dark-blue: hsl(233, 47%, 7%);
--dark-desaturated-blue: hsl(244, 38%, 16%);
--soft-violet: hsl(277, 64%, 61%);
--white:hsl(0, 0%, 100%);
--slightly-transparent-white:hsla(0,0% ,100%, 0.75);
--slightly-tarnsparent-white:hsla(0, 0%, 100%, 0.6);
font-family: 'Inter', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif;*/

body{
    width:100%;
    height:100%;
    font-size :12px;  
  }
  body{
      overflow: hidden;
  }
  .item-grid{  
      width: 80%;
      margin: auto;
      height: 70vh;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color:hsl(233, 47%, 7%);
      margin-top: 8%;
  }
  .content{
  height: 45vh;
  width: 40%;
  display: flex;
  flex-direction: row;
  }
  .content.col-1{
  background-color: hsl(244, 38%, 16%);
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  }
  .content.col-2{
  background-repeat: no-repeat;
  background-size: 100%;
  }
  .heading span{
      color: hsl(277, 64%, 61%);
  }
  .heading{
      color: hsla(0,0% ,100%);
      font-family: 'Inter' sans-serif;
      font-weight: 700;
  }
  .para{
      color:hsla(0,0% ,100%, 0.75);
      font-size: small;
  }
  .bottom{
      display:flex;
      flex-direction: row;
      margin-right: 25%;
      padding-top: 25px;
      padding:5px;
      justify-content: space-between;
  }
  .bottom p{
      font-size: 11px;
      line-height: 0px;
  }
  .bottom .para-1{
   font-size: 20px;
   font-family:'Inter', sans-serif; ;   
  }
  .bottom .names{
      font-size: 10px;
  }
  .left{
      width:80%;
  }
  img{
      width:100%;
      height: 100%;
  }
  